/********************************
Map Styles
********************************/

.subunit.SCT { fill: #ddc; }
.subunit.WLS { fill: #cdd; }
.subunit.ENG { fill: #dcd; }

.country-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}

.map-content svg path:hover,
.city-location {
  cursor: crosshair;
}

div.tooltip {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 10px;
  font: 12px sans-serif;
  background: #B0C4DE;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.city-location {
  fill: #777;
  position: relative;
  z-index: 2;
  r: 4;
}

.city-location:hover {
  fill: #eee;
  stroke: #000;
  stroke-width: 1;
  z-index: 9999;
  r: 5;
}


/********************************
Histogram Styles
********************************/

.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: #000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.pop-bar {
  fill: #B0C4DE;
}

.pop-bar:hover {
  fill: #cfdbeb;
}

.elev-bar {
  fill: #daa5a5;
}

.elev-bar:hover {
  fill: #e8c9c9;
}

.gva-bar {
  fill: #b8d8b8;
}

.gva-bar:hover {
  fill: #d4e7d4;
}