html {
    box-sizing: border-box;
}

html,
body,
header,
div {
    width: 100%;
    text-align: center;
    margin: auto;
}

.header {
    padding: 2% 0 26%;
    background: url('/static/img/header.png') center/cover no-repeat;
    margin-top: -21px;
    color: #eee;
}