{% extends 'base.jinja2' %}

{% block main_content %}

<ul>
<li><img src='/static/img/jason.jpg' /><a>Jason Tyler</a></li>
<li><img src='/static/img/saki.jpg' /><a>Saki Fu</a></li>
<li><img src='/static/img/grace.jpg' /><a>Grace Hatamyar</a></li>
<li><img src='/static/img/tanner.jpg' /><a href="http://tannerjlake.com">Tanner Lake</a></li>
</ul>

{% endblock %}