{% extends 'base.jinja2' %}

{% block main_content %}

<ul class='about-ul'>
    <li>
        <img class='about-img' src='/static/img/jason.jpg' />
        <h2>Jason Tyler</h2>
        <p><a href='http://github.com/jay-tyler'>
            <img class='about-github' src='/static/img/github.gif'>
        </a></p>
    </li>
    <li>
        <img class='about-img' src='/static/img/saki.jpg' />
        <h2>Saki Fu</h2>
        <p><a href='http://github.com/sakifu'>
            <img class='about-github' src='/static/img/github.gif'>
        </a></p>
    </li>
    <li>
        <img class='about-img' src='/static/img/grace.jpg' />
        <h2>Grace Hatamyar</h2>
        <p><a href='http://github.com/gatita'>
            <img class='about-github' src='/static/img/github.gif'>
        </a></p>
    </li>
    <li>
        <img class='about-img' src='/static/img/tanner.jpg' />
        <h2>Tanner Lake</h2>
        <p><a href='http://github.com/tlake'>
            <img class='about-github' src='/static/img/github.gif'>
        </a></p>
</li>
</ul>

{% endblock %}