{% extends 'base.jinja2' %}


{% block head_scripts %}

    <script src='/static/js/d3.min.js'></script>
    <script src='/static/js/topojson.js'></script>

{% endblock %}


{% block main_content %}

    <div class='gb-map'>
        <h1>Playing With A Map</h1>
    </div>

{% endblock %}


{% block body_scripts %}

    <script src='/static/js/vis.js'></script>

{% endblock %}
